@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

h1 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Barlow Semi Condensed";
}

h2 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 7px;
  margin-bottom: 7px;
  font-family: "Barlow Semi Condensed";
}

h3 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 3px;
  margin-bottom: 3px;
  font-family: "Barlow Semi Condensed";
}

.d6zlymw {
  background-color: #eee;
  height: 3px;
}

.d6zlymw::after {
  display: none;
}

.imageButtonWrapper {
  display: inline-block;
}

.headlineButtonWrapper {
  display: inline-block;
}

.headlineButton {
  background: #fbfbfb;
  color: #888;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
}

.headlineButton:hover,
.headlineButton:focus {
  background: #f3f3f3;
}

.bluequote {
  margin: 20px;
  border-left-width: 5px;
  border-left-color: #4ca8de;
  background-color: #e2f2ff;
  color: #555;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.headerFirst {
  font-size: 25px;
  border-bottom: #ddd;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  margin-bottom: 10px;
  font-weight: bolder;
}

.headerOne {
  font-size: 30px;
  font-weight: 300;
  color: red;
}

// .headerTwo {
//   font-size: 20px;
//   font-weight: thin;
//   margin-top: 10px;
//   margin-bottom: 10px;
// }

.DraftEditor-editorContainer {
  position: relative;
  z-index: -10;
  min-height: 150px;
  color: #4d646e;
  font-family: "Barlow Semi Condensed";
  font-size: 1rem;
  // padding: 0px 10px 10px 10px;
  // text-align: justify;
}

.paragraph + .paragraph {
  margin-top: 40px;
  // color: #455a64;
}

.public-DraftEditor-content figure {
  margin: 40px 0;
}

.public-DraftStyleDefault-ul {
  list-style-type: disc;
}

// .public-DraftStyleDefault-block public-DraftStyleDefault-ltr {
//   color: red;
// }

.public-DraftStyleDefault-ol {
  list-style-type: decimal;
}

.public-DraftStyleDefault-ol,
.public-DraftStyleDefault-ul {
  margin: 5px 0 5px 0;
  padding-left: 30px;
}

.public-DraftStyleDefault-ol li,
.public-DraftStyleDefault-ul li {
  padding-left: 10px;
  line-height: 1.3;
  color: #455a64;
}

.public-DraftEditorPlaceholder-root {
  color: #999;
  position: absolute;
  z-index: 0;
}

blockquote {
  margin: 20px;
  border-left-width: 5px;
  border-left-color: #4ca8de;
  background-color: #e2f2ff;
  color: #555;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  line-height: 1.4;
}

pre {
  // border-left: 2px solid #ddd;
  display: block;
  color: #999;
  font-style: italic;
  margin: 12px 0 40px 0;
  padding: 6px 0 5px 18px;
  word-wrap: break-word;
  // white-space: nowrap;
}

.paragraph + blockquote {
  margin-top: 40px;
}

.editor__link {
  color: #3192e7;
  text-decoration: none;
  cursor: pointer;
}

.headlineButton {
  padding: 0px;
}

.wrapper {
  position: absolute;
}

.toolbar {
  left: 50%;
  transform: translate(-50%) scale(0);
  position: absolute;
  border: 1px solid #111;
  background: #333;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(220, 220, 220, 1);
  z-index: 2;
  box-sizing: border-box;
}

.toolbar:after,
.toolbar:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.toolbar:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #333;
  border-width: 4px;
  margin-left: -4px;
}

.toolbar:before {
  border-color: rgba(221, 221, 221, 0);
  border-top-color: #111;
  border-width: 6px;
}
